@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
.todoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.deleteX {
  cursor: pointer;
}

@media (max-width: 768px) {
  .todoContainer {
    flex-direction: column;
  }
}
